<div class="card shadow-lg">
    <div class="d-block p-2 border border-4">
        <div class="card-header">
            <h2>Registro de Empleados</h2>
        </div>

        <div class="border border-4 card card-body">
            <form class="d-grid gap-2">
                <div class="form-group">
                    <label>Empleado ID</label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="0">
                        <button type="button" class="btn btn-primary mx-2"><i class="bi bi-search"></i></button>
                    </div>
                    
                  </div>

                <div class="form-group">
                    <label>Nombres</label>
                    <input class="form-control" placeholder="Ingrese sus nombres">
                  </div>

                  <div class="form-group">
                    <label>Apellidos</label>
                    <input class="form-control" placeholder="Ingrese sus Apellidos">
                  </div>

                  <div class="form-group">
                    <label>Celular</label>
                    <input class="form-control" placeholder="Ejemplo 809-656-5465">
                  </div>

                  <div class="form-group">
                    <label>Direccion</label>
                    <input class="form-control" placeholder="Digite su direccion">
                  </div>

            </form>
        </div>

        <div class="card-footer d-flex justify-content-center">
            <div class="btn-group" role="group">
                <div class="padding-righ">
                    <button type="button" class="btn btn-primary mx-1" ><i class="bi bi-plus-circle mx-1"></i>Nuevo</button>
                    <button type="button" class="btn btn-success mx-1" ><i class="bi bi-download mx-1"></i>Guardar</button>
                    <button type="button" class="btn btn-danger mx-1"><i class="bi bi-trash mx-1"></i>Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>